@import './base.css';

body {
  background-color: #a8c3ff;
  margin-top: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#app {
  flex: 1;
  margin-top: 0;
  padding: 1.5rem;
  font-weight: normal;
}


