.login-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(14, 8, 61);
}

.form-container {
  background: rgba(14, 7, 77, 0.7);
  border-radius: 15px;
  border: 1px solid #fafafa;
  padding: 50px 40px;
  min-width: 600px;
}

.logo-background {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.input-container {
  width: 100%;
  margin-top: 50px;
}

.input {
  width: 100%;
  background-color: #222;
  border: 1px solid #888;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forgot-link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.forgot-link:hover {
  color: #fafafa;
  text-decoration: underline;
}

.login-button {
  background-color: #eee;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
}

.login-button:hover {
  background-color:rgb(88, 137, 194) !important;
  color: white !important;
}

.powered-footer {
  margin-top: 30px;
  width: 300px;
  height: 40px;
}

@media (min-width: 1440px) {
  .form-container {
    padding: 50px 40px;
  }

  .login-button {
    font-size: 1.1rem;
  }
}
